/ALL.chr22.phase1_release_v3.20101123.snps_indels_svs.genotypes.vcf
/ALL.chr22.phase1_release_v3.20101123.snps_indels_svs.genotypes.vcf.gz
/ALL.chr22.phase1_release_v3.20101123.snps_indels_svs.genotypes.vcf.gz.tbi
